[submodule "Neutron/vendor/spdlog"]
	path = Neutron/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Neutron/vendor/GLFW"]
	path = Neutron/vendor/GLFW
	url = https://github.com/virtjames-LoneRunner/glfw.git
